<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>miniers.safari2aria</string>
       <key>Developer Identifier</key>
       <string>V34B9RF2D5</string>
       <key>CFBundleVersion</key>
       <string>1.4</string>
       <key>CFBundleShortVersionString</key>
       <string>1.4</string>
       <key>URL</key>
       <string>https://github.com/miniers/safari2aria/releases/download/v1.4/safari2aria.safariextz</string>
     </dict>
   </array>
</dict>
</plist>