<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Miniers</string>
	<key>Builder Version</key>
	<string>12603.2.4</string>
	<key>CFBundleDisplayName</key>
	<string>safari2aria</string>
	<key>CFBundleIdentifier</key>
	<string>miniers.safari2aria</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.1</string>
	<key>CFBundleVersion</key>
	<string>2.3.1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>10485760</integer>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<integer>500</integer>
				<key>Identifier</key>
				<string>taskList</string>
				<key>Width</key>
				<integer>400</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>showTaskList</string>
				<key>Image</key>
				<string>button.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>safari2aria</string>
				<key>Popover</key>
				<string>taskList</string>
				<key>Tool Tip</key>
				<string>打开设置窗口</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>static/js/endscript.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>static/js/manifest.js</string>
				<string>static/js/startscript.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Catches downloads for aria2</string>
	<key>DeveloperIdentifier</key>
	<string>V34B9RF2D5</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update From Gallery</key>
	<true/>
	<key>Update Manifest URL</key>
	<string>https://miniers.github.io/safari2aria/update.plist?t=2.3.1</string>
	<key>Website</key>
	<string>https://github.com/miniers/safari2aria</string>
</dict>
</plist>
